.wrapper {
    width: 100%;
    flex-direction: column;
    background: #FFF;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.wrapper:hover {
    background: rgba(229, 229, 229, 0.5);
}

.wrapper.expanded:hover {
    background: #FFF;
}

.pool_info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 24px 16px;
    row-gap: 12px;
}

.mint_info {
    width: 100%;
    justify-content: flex-start;
    gap: 16px;
}

.avatar, .avatar img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #757575;
}

.wrapper p {
    color: #060D01;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.separator {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 10%, rgba(124, 124, 124, 0.6) 50%, rgba(0, 0, 0, 0.00) 90%);
}

.actions {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 16px;
}

.actions_menu {
    gap: 4px;
}

.actions_menu button {
    border-radius: 16px;
    height: 24px;
    padding: 0 8px;
}

.actions_menu button:hover {
    background: rgba(229, 229, 229, 0.5);
}
.actions_menu button:active {
    background: rgba(229, 229, 229, 0.7);
}
.actions_menu button.selected, .actions_menu button.selected:active {
    background: rgba(229, 229, 229, 0.5);
}

.action_description {
    font-size: 14px !important;
    font-weight: 300 !important;
}

.action_wrapper {
    width: 50%;
    gap: 8px;
    justify-content: flex-start;
}

.action_wrapper input {
    width: 70%;
    height: 32px;
    border-radius: 8px;
    border: 1px solid rgba(1, 33, 57, 0.13);
    background: none;
    padding: 0 6px;

    color: #757575;
    font-size: 12px;
}

.action_wrapper button {
    width: 30%;
}