.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 16px;
}

.wrapper p {
    color: #060D01;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
}