body {
    --var-content-side-padding: 240px;
}

@media screen and (max-width: 1280px) {
    body {
        --var-content-side-padding: 64px;
    }
}

@media screen and (max-width: 660px) {
    body {
        --var-content-side-padding: 24px;
    }
}