.wallet-adapter-button-trigger {
    border-radius: 8px;
    background-color: rgba(1, 33, 57, 0.13) !important;
    color: #060D01 !important;
    height: 36px;
    padding: 0 16px;
    transition: 0.3s all;
}

.wallet-adapter-button-trigger > i {
    display: none;
}

.wallet-adapter-button:hover {
    background-color: rgba(255, 0, 0, 0.65) !important;
}

.wallet-adapter-button:active {
    background-color: rgba(255, 0, 0, 0.75) !important;
}

.wallet-adapter-button.disabled {
    cursor: not-allowed;
    background-color: rgba(117, 117, 117, 0.5) !important;
}